
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

/* --- Paleta de colores --- */

:root {
    --color-pink: #f21c57;
    ---color-pink-light: #f6a6b8;
    --color-yellow-orange: #f6d500;
    --color-orange: #FF4C00;
    --color-aqua: #1ca1ab;
    --color-white-base: #f2f2f2;
    --color-white-hover: #b4b4b4;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-border-search-bar: rgba(242,172,198, .5);
}
/* ---------------------- */
li, a, button{
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.fondo-container {
    background-image: url(img/fc2.jpg);
    background-size: cover;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8%;
    background-color: rgba(242,242,242,.5);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Logo */
img {
    width: 100px;
    height: auto;
    transition: all 0.3s ease;
}

/* navlinks */
.navlinks {
    list-style-type: none;
}

.navlinks li {
    display: inline-block;
}

.navlinks li a {
    color: var(--color-black);
    padding: 15px 20px;
    transition: all 0.3s ease;
}

.navlinks li a:hover { 
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    color: var(--color-aqua);

}



/* Categorias */
header nav .navlinks li {
    position: relative;
    line-height: 50px;
}

.navlinks li ul.dropdown {
    position: absolute;
    display: none;
    background-color: var(--color-white-base);
    transition: all 0.3s ease;
}

.navlinks li.cat ul.dropdown li {
    width: 100%;
    border-radius: 5px;
}

li.cat ul.dropdown li a {
    display: block;
    padding: 0px 20px;
    z-index: 999;
}

.navlinks li.cat:hover ul.dropdown {
    display: block;
}

.navlinks li.cat ul.dropdown li a:hover {
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transform: translateZ(0);
}

/* Categorias - Icon-dropdown */

.navlinks li.cat .icon-dropdown {
    transition: all 0.3s ease;
}

.navlinks li.cat:hover .icon-dropdown {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}



/* Perfil */
.right-header .links {
    display:flex;
    align-items: center;
}

.perfil button .bx-user,
.bag button .bxs-shopping-bag {
    font-size: 30px;
    transition: all 0.3s ease;
}

.right-header ul .perfil button,
.right-header ul .bag button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
}

.right-header ul .perfil button:hover,
.right-header ul .bag button:hover {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Perfil - dropdown */
.right-header .links li{
    position: relative;
    line-height: 50px;
}

.right-header .links li.perfil ul.dropdown,
.right-header .links li.bag ul.dropdown {
    position: absolute;
    display: none;
    background-color: var(--color-white-base);
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

li.perfil ul.dropdown li {
    width: 150px;
    border-radius: 5px;
}

li.perfil ul.dropdown li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    z-index: 999;
}

.right-header li.perfil:hover ul.dropdown,
.right-header li.bag:hover ul.dropdown {
    display: block;
}

.right-header li.perfil ul.dropdown li a:hover {
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transform: translateZ(0);
}




/*  */

.hero {
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 350px;
    width: 100%;
    background-color: rgba(242,242,242,.8);
    border-radius: 50px;
    
}

.ramenson {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.hero-text p {
    margin-bottom: 60px;
    text-decoration: underline;
}

#ramen {
    font-size: 100px;
    color: #ca335f;
    transition: all 0.3s ease;
}
#ramen:hover {
    color: #ff1f5e;
    transition: all 0.3s ease;
}

#son {
    font-size: 100px;
    color: #caa12d;
    transition: all 0.3s ease;
}
#son:hover {
    color: #f6d500;
    transition: all 0.3s ease;
}

#n {
    font-size: 100px;
    color: #be420c;
    transition: all 0.3s ease;
}
#n:hover {
    color: #ff5810;
    transition: all 0.3s ease;
}

.btnInfo {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-black);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(0,0, 0, .5)
}

.btnInfo:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0,0, 0, 1);
    transition: all 0.3s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/*  */

.destacados {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.destacados h1.tittle {
    text-align: center;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-aqua);
}

button.btn-masProductos {
    background-color: var(--color-orange);
    color: var(--color-white);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

button.btn-masProductos:hover {
    color: var(--color-black);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.destacados-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-bottom: 50px;
}

.card-item {
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
}

.card-item img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.card-item img:hover {
    transform: scale(1.05);
    filter: drop-shadow(1px  1px 20px rgba(0, 0, 0, 0.3));
    transition: all 0.3s ease;
}

.card-item h2 {
    font-size: 20px;
    color: var(--color-black);
}

.card-item h2:hover {
    color: var(--color-aqua);
    transition: all 0.3s ease;
}

.card-item .item-description p {
    font-size: 14px;
    color: var(--color-black);
    margin: 12px 0;
}

.card-item .item-description p#precio {
    font-size: 18px;
    font-weight: 600;
}

.card-item .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.btn-container button {
    background-color: var(--color-white-base);
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
    border: none;
}

.btn-container button.btnCarrito {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.btn-container button:hover {
    background-color: var(--color-white);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-container button.btnCarrito:hover {
    background-color: var(--color-yellow-orange);
    color: var(--color-black);
    transition: all 0.3s ease;
}

/*  */

.categorias {
    background-color: var(--color-aqua);
    height: 600px;
    padding: 50px 0;
}

.categorias h1.tittle {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-white);
}

.categorias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-top: 50px;
}

